<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
    <caption>COVID-19 Statistics History</caption>
	<th>Request ID</th>
	<th>Cases</th>
    <th>Deaths</th>
    <th>Time of Request</th>

{% for line in posts %}
	<tr>
		<td>{{line.requestID}}</td>
		<td>{{line.cases}}</td>
        <td>{{line.deaths}}</td>
        <td>{{line.timeRequest}}</td>
        
        <div></div>
         <div></div>
     Do you want to see Relevant Data?
     <a href="/more_datas">Relevant data</a>

    <div></div>
     <div></div>

	</tr>
{% endfor %}
</table>
<div></div>
<div></div>

</body>


</html>
