<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../static/Images/titleLogo.png"/>
        <link rel = "stylesheet" href="../static/css/style.css">
        <title> Home </title>
    </head>
    <body>

        <header>
            <div class = "container">

                <img src ="../static/Images/titleLogo.png" width = 75 height = 75 alt = "logo" class = "logo">

                <nav>
                    <ul>
                        <li><a href = "/home">Home</a></li>
                        <li><a href = "/account">Account</a></li>
                        <li><a href = "/statistics">Statistics</a></li>
                        <li><a href = "/request">Request</a></li>
                        <li><a href = "/contact">Contact</a></li>
                        <li><a href = "/about">About</a></li>
                    </ul>
                </nav>

            </div>
        
        </header>

        <main>
            <style type="text/css">
                table, th, td{
                    border: 1px solid black;
                }
            </style>
            
            Do you want to see General Statistics?
            <a href="/statistics">Click Here</a>
            {% if countryStats %}
            <table>
                <caption>COVID-19 Country Statistics</caption>
                <th>Country</th>
                <th>Cases Today</th>
                <th>Recovered Today</th>
                <th>Deaths Today</th>
                <th>Total Cases</th>
                <th>Total Recovered</th>
                <th>Total Deaths</th>

            
                <tr>
                    <td>{{countryStats.country}}</td>
                    <td>{{countryStats.todayCases}}</td>
                    <td>{{countryStats.todayRecovered}}</td>
                    <td>{{countryStats.todayDeaths}}</td>
                    <td>{{countryStats.cases}}</td>
                    <td>{{countryStats.recovered}}</td>
                    <td>{{countryStats.deaths}}</td>
                    
                    <div></div>
                    <div></div>
            
                <div></div>
                <div></div>
            
                </tr>
            
            </table>
            {% endif %}
            {% if stateStats %}
            <table>
                <caption>COVID-19 State Statistics</caption>
                <th>State</th>
                <th>Cases Today</th>
                <th>Deaths Today</th>
                <th>Total Cases</th>
                <th>Total Recovered</th>
                <th>Total Deaths</th>

            
                <tr>
                    <td>{{stateStats.state}}</td>
                    <td>{{stateStats.todayCases}}</td>
                    <td>{{stateStats.todayDeaths}}</td>
                    <td>{{stateStats.cases}}</td>
                    <td>{{stateStats.recovered}}</td>
                    <td>{{stateStats.deaths}}</td>
                    
                    <div></div>
                    <div></div>
            
                <div></div>
                <div></div>
            
                </tr>
            </table>
            {% endif %}

            <form action = "/logout" name = logout>
                <button>Log Out</button>
            </form>

            {{email}}
        
        </main>

        <footer>

        </footer>

    </body>
</html>