<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="shortcut icon" href="../static/Images/titleLogo.png"/>
        <link rel = "stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <header>
            <div class = "container">

                <img src ="../static/Images/titleLogo.png" width = 75 height = 75 alt = "logo" class = "logo">

                <nav>
                    <ul>
                        <li><a href = "/home">Home</a></li>
                        <li><a href = "/statistics">Statistics</a></li>
                        <li><a href = "/request">Request</a></li>
                        <li><a href = "/contact">Contact</a></li>
                        <li><a href = "/about">About</a></li>
                    </ul>
                </nav>

            </div>
        
        </header>

        <main>
            <div class ="login-page">
                <div class = "form">
                    <form action = "/registerAuth" method = "POST" class = "register-form" required>
                        <input name="email" type = "email" placeholder = "Email" required>
                        <input name="password" type = "password" placeholder = "Password" required minlength = "8">
                        <input name="firstName" type = "text" placeholder = "First Name" required>
                        <input name="lastName" type = "text" placeholder = "Last Name" required>
                        <input name="phoneNumber" type = "tel" placeholder = "Phone Number (Optional)" minlength = "10">
                        <button>Create</button>
                        <p class = "message"> Already Registered? <a href= "#">Login</a> 
                        </p>
                    </form>
                    <form action = "/loginAuth" method = "POST" class = "login-form">
                        <input name = "email" type = "email" id = "username" type="text" placeholder= "Email">
                        <input name = "password" type = "password" id = "password" type="password" placeholder= "Password">
                        <button type = "submit">login</button>
                        <p class ="message"> Not Registered? <a href ="#">Register</a></p>
                        {% if error %}
                            <p class="error"><strong>Error:</strong> {{error}}</p>
                        {% endif %}
                    </form>
                </div>
                </div>

                <script src="https://code.jquery.com/jquery-3.5.1.min.js">
                </script>

                <script>
                    $('.message a').click(function(){
                    $('form').animate({height: "toggle", opacity:"toggle"}, "slow");
                });
                </script>

        </main>
        <footer>

        </footer>

    </body>
</html>