<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../static/Images/titleLogo.png"/>
        <link rel = "stylesheet" href="../static/css/style.css">
        <title> Request </title>
    </head>
    <body>

        <header>
            <div class = "container">

                <img src ="../static/Images/titleLogo.png" width = 75 height = 75 alt = "logo" class = "logo">

                <nav>
                    <ul>
                        <li><a href = "/home">Home</a></li>
                        <li><a href = "/statistics">Statistics</a></li>
                        <li><a href = "/request">Request</a></li>
                        <li><a href = "/contact">Contact</a></li>
                        <li><a href = "/about">About</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <main>
            <p>Request Stuff Goes Here!</p>

        </main>
        <footer>

        </footer>

    </body>
</html>